body {
    background-color: rgb(230, 176, 223);
  }
  h1 {
    color: blue;
    font-family: serif;
    font-size: 50px;
  }
  p {
    color: red;
    border: 4px solid black;
    margin: 30px;
    padding: 10px;
  }
  h2{color: red;
background-color: rgb(230, 176, 223);
font-size: 18px;}
/*
a:link{color: green;
       text-decoration: none;}

a:visited{color: royalblue;
text-decoration: none;

}

a:hover{color:red;

text-decoration: line-through;}   
a:active{color: darkorange;} */

a:link, a:visited {
    background-color: #f44336;
    color:black;
    padding: 15px 25px;
    text-decoration: none;
  display:inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(47, 0, 255);
  }