

body {
    background-color: rgb(243, 234, 242);
  }
  h1 {
    color: blue;
    font-family: serif;
    font-size: 50px;
  }
  
  h2{color: red;
background-color: rgb(230, 176, 223);
font-size: 18px;}
/*
a:link{color: green;
       text-decoration: none;}

a:visited{color: royalblue;
text-decoration: none;

}

a:hover{color:red;

text-decoration: line-through;}   
a:active{color: darkorange;} */

a:link, a:visited {
    color:black;
    padding: 15px 25px;
    text-decoration: none;
    display:inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(47, 0, 255);
    text-decoration: underline;
  }

 
  
.bg-secondary{

  background-color: blueviolet;
}
 
.bg-primary {
    background: lightblue !important;
}

table, th, td {
  border: 1px solid black;
  
  
}
table{
  border-spacing: 15px;
}
th{
background-color: lightgray;
}
th ,td { 
padding: 5px;
text-align: center;
}
#t01 tr:nth-child(even) {
  background-color:rgba(128, 128, 128, 0.493);
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: rgba(0, 0, 0, 0.479);
  color: white;
}
#demo
{
background: red;


}
#nheader{
 
 font-size: 50px;
 padding: 30px;
 border: solid 2px;
 text-align: center;
height: 200px;
}
footer{
border: solid 2px;
height: 200px;
padding: 30px;
text-align: center;
font-size: 50px;
}

nav {
  float: left;
  width: 25%;
  height: 400px;
  background: #ccc;
  padding: 20px;
  border: solid 2px;
}


nav ul {
font-size: 20px;
  list-style-type: symbols();
  padding: 0;
  
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
